# Testing
pytest==9.1.1
pytest-cov==7.1.0

# Code Formatting & Style
black==26.5.1
isort==8.0.1
flake8==7.3.0
flake8-docstrings==1.7.0

# Type Checking
mypy==2.3.0
pyright==1.1.411

# Linting
pylint==4.0.6

# Development
ipython==8.39.0
notebook==7.6.1
