[Unit]
Description=Python Application Service
After=network.target

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/opt/python-starter
ExecStart=/opt/python-starter/launcher
Restart=always
RestartSec=10
StandardOutput=append:/var/log/python-starter/python-starter.log
StandardError=append:/var/log/python-starter/python-starter.log
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
